.naglowek {
	background-image: url('./assets/herobanner.jpg');
	height: 400px;
	background-size: 98vw 400px;
	width: 98vw;
}

.aboutbg {
	background-image: url('./assets/about-bg.jpg');
	background-size: 98vw 846px;
	height: 846px;
	width: 98vw;
}

.logo {
	background-image: url('./assets/logo.svg');
	display: inline-block;
	width: 100px;
	height: 65px;
	background-size: 100px 65px;
	margin-top: 20px;
	margin-bottom: -22px;
	vertical-align: -25px;
}

nav {
	font-family: Karla; sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 29px;
	text-align: center;
}

a:link {
	color: #262526;
	text-decoration: none;
}

a:visited {
	color: #7D787C;
	text-decoration: none;
}

a:hover {
	color: #87857D;
	letter-spacing: 3px;
	transition: 0.5s;
}

a:active {
	color: #87857D;
	letter-spacing: 3px;
}

h1 {
	font-family: Libre Baskerville; serif;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 4px;
	text-align: center;
	margin-top: -220px;
	margin-bottom: 220px;
}


.box1 {
	display: inline-block;
	vertical-align: super;
	width: 356px;
	height: 25px;
	background-color: white;
}

ul {
	list-style-type: none;
	margin-bottom: 30px;
	padding: 0;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: gray;

}

h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px;
	margin-bottom: 6px;
	margin-top: 30px;
}

.article {
	font-family: Karla; sans-serif;
	font-size: 13px;
	margin-left: 3px;
}

h2 {
	font-family: Libre Baskerville; serif;
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
	letter-spacing: 2px;
	background-color: white;
	margin-bottom: 30px;
	margin-top: 30px;

}

.smallbox {
	display: inline-block;
	background-color: #E0E1E5;
	width: 200px;
	height: 15px;
	background-size: 200px 15px;
	vertical-align: baseline;

}

button {
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	color: #87857D;
	letter-spacing: 2px;
	border: none;
	background-color: #E0E1E5;
	width: 300px;
	height: 40px;
	outline: none;
	margin-top: 10px;
}

button:hover {
	letter-spacing: 6px;
	transition: 0.4s;
}

button:active {
	background-color: #E0D7DF;
	transition: 0.3s;
}

input[type="text"] {
	border-bottom: 1px solid gray;
	border-right: none;
	border-top: none;
	border-left: none;
	width: 300px;
	height: 20px;
	outline: none;
	margin-top: 7px;
}

input[type=text]:focus {
	border-bottom: 1px dotted gray;
	border-right: none;
	border-top: none;
	border-left: none;
	font-weight: bold;
	}


input[type=text]:hover {
	border-bottom: 1px dotted gray;
	border-right: none;
	border-left: none;
	border-top: none;
	font-weight: bold;
}

input[placeholder] {
	letter-spacing: 2px;
	text-align: center;
	opacity: 70%
}